@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
.attribution { font-size: 11px; text-align: center; margin-top: 50px;  }
.attribution a { color: blue; }
:root{
    --cor0:hsl(35, 77%, 62%);
    --cor1:hsl(5, 85%, 63%);
    --cor2: hsl(36, 100%, 99%);
    --cor3:hsl(233, 8%, 79%);
    --cor4:hsl(236, 13%, 42%);
    --cor5:hsl(240, 100%, 5%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    position: relative;
    background-color: var(--cor2);
    color: var(--cor5);
}
header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%-25px);
    padding: 0px 25px;
    height: 95px;
    margin: auto;
}
ul {
    list-style-type: none; 
}
.logo-icon{
    width: 55px;
    height: 33.85px;
}
.menu-icon{
    width: 40px;
    height: 17px;
}
#menu-close{
    display: none;
    width: 230px;
    height: 115px;
    padding-top: 30px;
    padding-right: 20px;
}
#menu-close img{
    cursor: pointer;
    float: right;
}
#menu-lateral{
    position: absolute;
    top: 0;
    right: 0;
    width:0px;
    height: 100vh;
    background-color: var(--cor2);
    transition: .3s;
}
nav{
    display: none;
    padding-left: 20px;
    line-height: 40px;
}
nav a{
    text-decoration: none;
    color: var(--cor5);
    font-size: 1.2rem;
}

main{
   width: 350px;
   margin: auto;
   display: grid;
   margin-bottom: 110px;
}
.first-image img{
    width: 350px;
    height:350px;
}
.second-block{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 310px;
    margin-top: 10px;
}
.second-block h1{
    font-weight: 800;
    width: 270px;
}
.second-block p {
    font-size: 15px;
    line-height: 25px;
}
#btn-read-more{
    width: 185px;
    height: 50px;
    font-weight: 700;
    color: var(--cor2);
    border: none;
    background-color: var(--cor1);
    cursor: pointer;
    letter-spacing: 3px;
}

.third-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 440px;
    width: 310px;
    margin-top: 55px;
    background-color: var(--cor5);
    padding: 10px 20px;
}
.third-block div {
    height: 110px;
    border-bottom: 1px solid var(--cor3);
    line-height: 30px;
}
.third-block h2{
    color: var(--cor0);
}
.third-block h3{
    color: var(--cor2);
    font-size: 1.3rem;
}
.third-block p{
    color: var(--cor3);
}
#no-border{
    border: none;
}
.eletronics-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: end;
}
.eletronics-menu img{
    height: 130px;
}
.intro-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    width: 230px;
    line-height: 30px;
    
}

.intro-div h3 {
    font-size: 1.2rem;
}
.intro-div h1{
    color: var(--cor3);
}
#first-intro-div{
    margin-top: 60px;
}